*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:
        radial-gradient(circle at left,
            rgba(40,70,150,.20),
            transparent 40%),

        radial-gradient(circle at right,
            rgba(214,181,108,.08),
            transparent 35%),

        linear-gradient(
            135deg,
            #111,
            #171717,
            #0d0d0d
        );
}

header{
    background-color: #111c3a;
    padding: 20px 8%;
    text-align: fixed;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.titulo-logo {
    background: linear-gradient(135deg, #f3e5ab 0%, #b8975a 50%, #8a6f3e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.logo img{
    width: 50%;
    border-radius: 12px;
}

.slogan {
    font-size: 0.8rem;
    margin: 0;
    color: #b8b8b8;
}

nav ul{
    display: flex;
    gap: 28px;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

.formButton {
    display: inline-block;
    padding: 28px 40px;
    
    background: linear-gradient(90deg, #ABBDE8, #4572CF, #1F3875, #111c3a, #1E346C, #254288, #325CBE, #ABBDE8);

    background-size: 400% 100%;
    
    animation: rgb-shift 8s linear infinite;
    
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    
    transition: all 0.3s ease;
}

.formButton:hover {
    animation-duration: 4s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

@keyframes rgb-shift {
    0% {
        background-position: 0% 50%; /* Empezamos en la izquierda */
    }
    100% {
        background-position: 100% 50%; /* Movemos todo el fondo hacia la derecha */
    }
}

section{
    padding: 90px 8%;
}

.section-title h2{
    background: linear-gradient(135deg, #f3e5ab 0%, #b8975a 50%, #8a6f3e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

    position:relative;
    overflow:hidden;
}

.section-title p{
    background: linear-gradient(135deg, #2C55AA 0%, #406ECE 50%, #111C3A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

    position:relative;
    overflow:hidden;
}

.section-title{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.section-title p{
    margin: 30px;
}

.from-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fafafa;
    padding: 0 8%;
}

.contact-form{
    max-width: 700px;
    background-color: #1e1b29;
    padding: 40px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    border: 3px solid transparent; 
    border-image: linear-gradient(to right, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055) 1;
    animation: rgb-rainbow 6s linear infinite;
    overflow: hidden; 
    transition: all 0.3s ease;

}

.form-group{
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-group label {
    color: white;
}

.formButton{
    width: 100%;
    padding: 15px;
    background-color: #d4af37;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.errores{
    width: 100%;
    padding: 15px;
    color: #ffffff;
    border: 6px;
    border-radius: 8px;
    cursor: pointer;
}

footer{
    background-color: #111c3a;
    color: white;
    text-align: center;
    padding: 20px;
}

@keyframes rgb-rainbow {
    0% { border-image-source: linear-gradient(0deg, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055); }
    25% { border-image-source: linear-gradient(90deg, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055); }
    50% { border-image-source: linear-gradient(180deg, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055); }
    75% { border-image-source: linear-gradient(270deg, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055); }
    100% { border-image-source: linear-gradient(360deg, #ff0055, #00f2fe, #00ff55, #ffeb3b, #ff0055); }
}