*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0f0f0;
    color: #333;
}

header{
    background-color: #2e5bc6;
    padding: 20px 8%;
    text-align: fixed;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(57, 8, 8);
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul{
    display: flex;
    gap: 28px;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    padding: 0 8%;
}

.contenido_a h1{
    font-size: 3rem;
    margin-bottom: 28px;
}

.btn{
    display: inline-block;
    padding: 28px 40px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

section{
    padding: 90px 8%;
}

.section-title{
    font-size: 2.5rem;
    text-align: center;
}

.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
}

.about img{
    width: 50%;
    border-radius: 12px;
}

.course-card,
.benefit-box{
    background-color: rgb(242, 242, 242);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: rgb(0, 0, 0);
}

.course-grid,
.benefit-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.benefits{
    background-color: black;
    color: rgb(255, 255, 255);
}

.contact-form{
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    width: 100%;
    padding: 15px;
    background-color: #0aca3d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer{
    background-color: #040f28;
    color: white;
    text-align: center;
    padding: 20px;
}